.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30dvw;
    height: 90dvh;
    border-radius: 2dvw;
    background-color: var(--color6);
    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 2dvw;
        input,
        .logo {
            background-color: var(--color3);
            font-weight: 600;
            letter-spacing: 0.1vw;
            &::-webkit-input-placeholder {
                color: var(--color4);
            }
        }
        .logo {
            width: 12dvw;
            height: 12dvw;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 800;
            color: var(--color4);
            font-size: 2.5dvw;
            @include btn;
        }
        input {
            width: 100%;
            border-radius: 1dvw;
            height: 3.3dvw;
            padding: 1dvw;
            @include btn;
            &:focus{
                border: 2px solid var(--color8);
            }
        }
        .quant {
            display: flex;
            justify-content: space-between;
            select {
                border: none;
                width: 45%;
                font-size: 1.5vw;
                color: var(--color1);
                padding: 0 .5vw;
                background-color: transparent;
                &:focus{
                    background-color: var(--color8);
                    border-radius: 1dvw;
                }
                option{
                    background-color: var(--color8);
                    color: var(--color1);
                    &:hover{
                        background-color: red;
                    }
                }
            }
            input{
                width: 45%;
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                color: var(--color1);
                font-weight: 700;
                @include link;
            }
            input {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color9);
                color: var(--color1);
                font-weight: 700;
                font-size: 1.3dvw;
                width: 50%;
            }
        }
    }
}

.container2 {
    width: 50dvw;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color3);
    border-radius: 5dvh;
    padding: 20px;
    .preview {
        width: 90%;
        height: 80%;
        overflow: hidden;
        .carrosel {
            width: 400%;
            display: flex;
            align-items: center;
            transition: transform 0.5s ease-in-out;
            .products {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 60%;
                    height: 100%;
                }
            }
        }
    }
    .text {
        font-size: 2.2dvw;
        text-align: center;
        color: var(--color8);
        height: 10dvw;
        font-weight: 800;
    }
    .points {
        display: flex;
        width: 25%;
        justify-content: space-between;
        .point {
            transition: width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.375);
            border-radius: 50%;
            border: 6px solid var(--color8);
            height: 22px;
            width: 22px;
            &:hover {
                cursor: pointer;
                background-color: var(--color9);
                border: 6px solid var(--color9);
            }
            &.active {
                &:hover {
                    cursor: pointer;
                    background-color: var(--color9);
                    border: 6px solid var(--color9);
                }
                width: 40px;
                border-radius: 12px;
                background-color: var(--color8);
            }
        }
    }
}
