body {
    width: 100%;
    height: 100vh;
    background: var(--color2);
}
html{
    scroll-snap-type: y mandatory;
}
main {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


footer{
    background-color: var(--color9);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nav{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color1);
            font-weight: 600;
            font-size: 1.5vw;
            
        }
        .btnSocialMedia{
            display: flex;
            padding: 12px;
            @include link;
            p{
                margin-left: 1dvw;
            }
        }
        img{
            width: 3vw;
        }
        .logo{
            width: 6vw;
            border-radius: 50%;
            @include btn;
        }
    }
    .copyright{
        height: 5dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color1);
        background-color: var(--color10);
    }
}

.container{
    scroll-snap-align: end;
}
::-webkit-scrollbar-corner{
    background-color: none;
}
::-webkit-scrollbar{
    background-color: var(--color10);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color8);
    border-radius: 12px;
}