:root {
    --color1: #fffcfc;
    --color2: #fff2dc;
    --color3: #ffdda3;
    --color4: #b89355;
    --color5: #fc9d18;
    --color6: #f17d1e;
    --color7: #78533d;
    --color8: #6c3719;
    --color9: #3b2112;
    --color10: #1b0d03;
}
